<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic MVC using Node JS</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <div class="container">
        <h2>Add Product</h2>
        <form action="/add" method="POST">
            <table>
                <tr>
                    <td>Name</td>
                    <td><input type="text" name="product_name" id="product_name"></td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td><input type="text" name="product_price"></td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td><textarea name="product_description" cols="30" rows="10"></textarea></td>
                </tr>
                <tr>
                    <td><a href="/" class="link-back">Back</a></td>
                    <td><input type="submit" value="add product" name="submit"></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>